# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
venv/
env/
ENV/
.venv/
.python-version

# VS Code settings
.vscode/

# MacOS files
.DS_Store

# Python egg metadata
*.egg-info/
dist/
build/

# TensorFlow model checkpoints
checkpoints/
*.h5
*.ckpt
*.pb

# Logs
*.log

# Data files
*.csv
*.tsv
*.dat
*.db

# System files
Thumbs.db

# Ignore test-image and result folders
test-image/
result/